
.comparison {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    margin: 15px 0;
}

.middle {
    font-size: 16px;
    color: grey;
    margin-top: 3px;
    text-transform: uppercase;
}